<nav class='nav'>

</nav>

<div id='header_large' class='header_large'>
	<canvas id='dots'></canvas>
	<div class='info'>
		<h1 class='title'>Assemble your Fort!</h1>
		<p class='desc'>Fix your team's communication problems for free, with zero code, servers, or worries.<br>Simply signup and we will do it all for you.</p>

		<div class='buttons'>
			<a href='/signup' class='button filled'>Register Now</a>
			<a href='/signup' class='button'>Sign In</a>
		</div>
	</div>
</div>

<div class='banner'>

</div>

<script src='js/dependencies/tweenlite.js'></script>