<!DOCTYPE html>
<html>
	<head>
		<title><%- title %></title>
		
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
		<link rel='stylesheet' href='/css/app.css'/>
	</head>
	<body>
		<%- body %>

		<script src='/js/dependencies/jquery.min.js'></script>
		<script src='/js/app-min.js'></script>
	</body>
</html>