<!DOCTYPE html>
<html>
	<head>
		<title>Fort</title>
		<link rel='stylesheet' href='/css/app.css'/>
	</head>
	<body>
		<%- body %>

		<script src='/js/dependencies/react.js'></script>
		<script src='/js/dependencies/react-dom.js'></script>
		<script src='/js/app.js'></script>
	</body>
</html>