<div class='auth-wrapper'>
	<form action='/user/authenticate' method='post' class='auth'>
		<div class='group'>
			<label>Email</label>
			<input type='email' name='email' autocomplete='off'/>
		</div>
		<div class='group'>
			<label>Password</label>
			<input type='password' name='password' autocomplete='off'/>
		</div>

		<button type='submit'>Login</button>
		<span class='bottom'>Need an account? <a href='/register'>Register</a></span>
	</form>
</div>